<footer>
    <p>Redes sociales</p>
    <div class="social-icons">
      <div class="icon-item">
        <mat-icon>facebook</mat-icon>
        <p>Facebook</p>
      </div>
      <div class="icon-item">
        <mat-icon>instagram</mat-icon>
        <p>Instagram</p>
      </div>
      <div class="icon-item">
        <mat-icon>github</mat-icon>
        <p>GitHub</p>
      </div>
    </div>
    <p>
      © 2024 code.dev. Todos los derechos reservados. Este sitio web y su contenido
      son propiedad exclusiva de code.dev. Queda prohibida la reproducción total o
      parcial de cualquier material, incluidos textos, imágenes, diseño y código,
      sin el consentimiento expreso por escrito de code.dev.
    </p>
  </footer>
  